.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card_container {
  width: 100vw;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0b0c0c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal_tabs {
  flex: 2;
}

.vertical_tabs {
  flex: 2;
}

@media screen and (min-width: 767px) {
  .horizontal_tabs {
    display: block;
    position: absolute;
    top: 10vh;
    left: 35%;
    transform: translateY(-50%);
  }

  .vertical_tabs {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .horizontal_tabs {
    display: none;
  }

  .vertical_tabs {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: min-content;
  }
}
